@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1152px;
    margin: auto;
}
.main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.img img{
    width: 100px;
    height: 100px;
    
}
.box{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
    padding: 50px 20px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 10px;
}
.box:hover{
    transform: translatey(-20px);
    
}
.img{
    text-align: center;
}
.text {
    text-align: center;
}
.btn{
    background-color: #DE2453;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid transparent;
    padding: 10px 30px;
    transition: all 0.3s;
}
.btn:hover{
    background-color: white;
    color: black;
    border: 3px solid #DE2453;
}
.text p{
    font-weight: bold;
    color: #A5939E;
    margin: 20px 0;
}
.pro{
    text-align: center;
    margin-bottom: 60px;
}
.pro p{
    color: #A5939E;
    font-weight: bold;
    margin-top: 20px;
}